<section class="content-card">

    <h2>Balloon Simulator</h2>
    <hr>

    <p>
        <b>Introducción:</b><br> Balloon Simulator es una aplicación web que nos permite conocer la experiencia de pilotar un globo aerostático.<br> Para informarte sobre Globos Arcoíris pinche <b><a target="_blank" href="https://www.globosarcoiris.com/" style="color: inherit">aquí</a></b>.
    </p>
    <hr>

    <h2>Capturas:</h2>
    <div class="slideshow-container">
        <div class="slides-here"></div>
        <!-- Next and previous buttons -->
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
    </div>
    <hr>

    <p>
        <b>Instrucciones:</b><br> Para empezar a volar, puede entrar en "Iniciar" arriba a la derecha.<br> Es posible configurar algunos parámetros del vuelo como el punto de despegue, color de cielo... desde la pestaña "Ajustes".<br> Para ver los datos
        de una simulación anterior acceda a la pestaña "Historial".<br> Una vez en el simulador los controles son simples: <br> - Dispondrá de un quemador en la parte de arriba que permite aumentar la temperatura del balón al accionar las palancas, esto
        permitirá ascender al aerostato.<br> - En la parte superior izquierda hay un altímetro, es un dispositivo que muestra los datos de altura, velocidad de ascenso, dirección... <br> - En la parte inferior derecha hay una tablet con un mapa en el
        que se muestra la ruta seguida por la aeronave y su posición.
    </p>
    <p>
        <b>A quién va dirigido:</b><br> La web está dirigida a todo tipo de usuarios que quieran aprender cómo funciona un globo aerostático, así como a pilotos que quieran analizar posibles rutas a realizar con unos vientos dados.
    </p>

    <h2>GitHub:</h2>
    <p>Puede acceder al código que esta alojado en GitHub de forma pública desde <b><a target="_blank" href="https://github.com/AlvaroCarbajoAlcalde/TFG_2022" style="color: inherit">aquí</a></b>.</p>
</section>