<header>
    <div class="logo">
        <a routerLink=""><img src="../assets/img/icon.ico" alt=""></a>
        <a routerLink="">Balloon Simulator</a>
    </div>

    <nav>
        <a routerLink="/history">Historial</a>
        <a routerLink="/params">Ajustes</a>
        <a routerLink="/sim">Iniciar</a>
    </nav>
</header>

<section id="slider">
    <div class="slide-img active" style="background-image: url('assets/screenshots/0.png');"></div>
    <div class="slide-img" style="background-image: url('assets/screenshots/1.png');"></div>
    <div class="slide-img" style="background-image: url('assets/screenshots/2.png');"></div>
    <div class="slide-img" style="background-image: url('assets/screenshots/3.png');"></div>
    <div class="slide-img" style="background-image: url('assets/screenshots/4.png');"></div>
</section>

<section id="content">
    <router-outlet></router-outlet>
</section>