<section class="content-card">
    <h1>Parámetros</h1>
    <hr>

    <h2>Tracking:</h2>
    <p>Introduce un nombre para guardar el tracking del vuelo:</p>
    <input #flightname (keyup)="setFlightName(flightname.value)" class="inp-text" type="text" name="name" placeholder="Nombre">
    <hr>

    <h2>Punto de despegue:</h2>
    <div class="params-map">
        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <hr>

    <h2>Vientos:</h2>
    <table class="contents_table">
        <thead>
            <tr>
                <th>Altitud (s. n. m.)</th>
                <th>Dirección</th>
                <th>Velocidad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let wind of windList">
                <td>{{wind.altitude}} m / {{wind.altitudeFeet}} feet</td>
                <td>{{wind.windDir.toFixed(2)}}°</td>
                <td>{{wind.windSpeedKMH}} km/h / {{toKnots(wind.windSpeed).toFixed(1)}} nudos.</td>
                <td><input #colorPicker *ngIf="wind.color" type="color" class="colorpicker" value={{wind.color}} (change)="changeWindColor(wind, colorPicker.value)"></td>
                <td><a (click)="changeWindVisibility(wind)">Ver</a></td>
                <td><a (click)="deleteWind(wind.altitude)">Borrar</a></td>
            </tr>
        </tbody>
    </table>
    <button type="button" (click)="showPopupWinds()">Añadir viento</button>
    <div class="params-map">
        <div class="map-container">
            <div class="map-frame">
                <div id="mapWinds"></div>
            </div>
        </div>
    </div>
    <hr>

    <h2>Temperatura:</h2>
    <p>Introduce la temperatura en grados centígrados:</p>
    <input #temp (keyup)="setTemperature(temp.value)" class="inp-text" type="number" name="temperature" value="12">
    <hr>

    <h2>Color del cielo:</h2>
    <div class="skybox-selector">
        <div class="row">
            <img class="skyboximg browncloud" src="../../assets/textures/skybox/browncloud_nx.jpg" alt="browncloud" (click)="selectSkybox('browncloud')">
            <img class="skyboximg yellowcloud" src="../../assets/textures/skybox/yellowcloud_nx.jpg" alt="yellowcloud" (click)="selectSkybox('yellowcloud')">
            <img class="skyboximg bluecloud" src="../../assets/textures/skybox/bluecloud_nx.jpg" alt="bluecloud" (click)="selectSkybox('bluecloud')">
            <img class="skyboximg graycloud" src="../../assets/textures/skybox/graycloud_nx.jpg" alt="graycloud" (click)="selectSkybox('graycloud')">
        </div>
    </div>

    <div class="popup_background"></div>
    <div class="popup" id="divAddWind">
        <div class="popup-content">
            <h2>Añadir viento</h2>
            <hr>
            <p>Introduce la altitud en metros:</p>
            <input class="popup_input" #altitude type="number" min="0" max="5000" name="altitude" placeholder="Altitud" value="0">
            <p>Introduce la dirección en grados:</p>
            <input class="popup_input" #windDir type="number" min="0" max="360" name="windDir" placeholder="Dirección" value="0">
            <p>Introduce la velocidad en km/h:</p>
            <input class="popup_input" #windSpeed type="number" min="0" max="300" name="windSpeedKMH" placeholder="Velocidad" value="0">
            <hr>
            <div class="popup_buttons">
                <button type="button" (click)="addWindCancel()">Cancelar</button>
                <button type="button" (click)="addWind(altitude.value, windDir.value, windSpeed.value)">Añadir</button>
            </div>
        </div>
    </div>
</section>