<section class="content-card">
    <h1>Historial</h1>
    <hr>
    <table class="flights">
        <thead>
            <tr>
                <th>No</th>
                <th>Fecha</th>
                <th>Usuario</th>
                <th>Duración</th>
                <th>Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flightList">
                <td>{{flight.no}}</td>
                <td>{{flight.date}}</td>
                <td>{{flight.user}}</td>
                <td>{{flight.duration}}</td>
                <td> <a routerLink="/history">Ver vuelo</a></td>
            </tr>
        </tbody>
    </table>
</section>