<section class="content-card">
    <h1>Historial</h1>
    <hr>
    <table class="flights">
        <thead>
            <tr>
                <th>No</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Duración</th>
                <th>Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flightList">
                <td>{{flight.no}}</td>
                <td>{{flight.name}}</td>
                <td>{{flight.date}}</td>
                <td>{{flight.duration}}</td>
                <td> <a (click)="seeFlightDetails(flight.id)">Ver vuelo</a></td>
            </tr>
        </tbody>
    </table>
</section>