<section class="content-card">
    <h1>Historial</h1>
    <hr>
    <div id="search">
        <label for="search">Buscar: </label>
        <input #search (keyup)="searchFlights(search.value)" name="search" type="text" id="search-input" title="Introduce un texto para buscar por el nombre">
    </div>
    <table class="contents_table">
        <thead>
            <tr>
                <th>No</th>
                <th>Nombre</th>
                <th>Despegue</th>
                <th>Fecha</th>
                <th>Duración</th>
                <th>Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flightList">
                <td>{{flight.no}}</td>
                <td>{{flight.name}}</td>
                <td>{{flight.takeoff}}</td>
                <td>{{flight.date}}</td>
                <td>{{flight.duration}}</td>
                <td>
                    <a (click)="seeFlightDetails(flight.id)">
                        <fa-icon [icon]="eyeIcon" title="Ver datos del vuelo"></fa-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</section>