/*Tablet*/
:root {
  --tabletW: 863px;
  --tabletH: 622px;
}

#tablet {
  width: calc(var(--tabletW) / 2);
  height: calc(var(--tabletH) / 2);
  z-index: 4;
  position: absolute;
  background-image: url("../assets/img/tablet.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 15px;
  right: 15px;
  box-shadow: 10px 5px 50px black;
  border-radius: 19px;
  transition: 1.4s ease-out;
  cursor: pointer;
}

#tablet * {
  cursor: pointer;
}

#tablet p,
h3 {
  padding: 0;
  margin: 0;
}

#tablet.out {
  right: calc(15px - var(--tabletW) / 2.1);
}

#tabletContent {
  position: relative;
  background-color: whitesmoke;
  width: 398px;
  height: 251px;
  margin-top: 31px;
  margin-left: 18px;
}
