<div id="sim">

    <section id="tablet" onclick="toggleTablet()">
        <div id="tabletContent">
            <p id="positionX"></p>
            <p id="positionZ"></p>
            <p id="positionY"></p>
        </div>
    </section>

    <section id="optionsBar">
        <div id="eyeBtn" onclick="toggleVisibility(this)">
            <div class="shut">
                <span></span>
            </div>
            <div class="ball"></div>
        </div>
        <a (click)="endGame()" class="close"></a>
    </section>

    <section id="quemador">
        <img draggable="false" id="gatilloIzq" src="../../assets/img/leftTrigger.png" onmousedown="clickQuemador(this)"
            onmouseup="unClickQuemador(this)" onmouseleave="unClickQuemador(this)">
        <img draggable="false" id="gatilloDch" src="../../assets/img/rightTrigger.png" onmousedown="clickQuemador(this)"
            onmouseup="unClickQuemador(this)" onmouseleave="unClickQuemador(this)">
    </section>

    <section id="altimetro" onclick="toggleAltimetro()">
        <div id="altimetroContent">
            <label id="altTemperatura">T 23.3°C</label>
            <label id="altSpeed">Wind: 63° <br>23.3 m/s</label>
            <label id="altSpeedAlt">6 m/s</label>
            <label id="altAltura">6000 feet</label>
            <label id="altPresion">Pressure<br>932.1 hPa</label>
            <label id="altTime">Flight Time: 02:21:49</label>
            <img id="altRegla" src="../../assets/img/regla.png">
            <img id="altReglaInv" src="../../assets/img/reglainv.png">
            <div id="altDiffContainer">
                <div id="altDiffUp"></div>
                <div id="altDiffDown"></div>
            </div>
        </div>
    </section>

    <section id="game">

    </section>

    <section id="loading">
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
        <div class="loading-box">
            <p class="loading-count"></p>
            <div class="loader"></div>
        </div>
    </section>
    
</div>