/*Altimetro*/
:root {
  --altimetroW: 290px;
  --altimetroH: 503px;
  --altimContentColor: #6e816f;
  --altimAltContentColor: #bccfbd;
}

/*Fuente*/
@font-face {
  font-family: "digital";
  src: url("../fonts/DS-DIGII.TTF");
}

#altimetro {
  width: calc(var(--altimetroW) / 1.5);
  height: calc(var(--altimetroH) / 1.5);
  z-index: 4;
  position: absolute;
  background-image: url("../img/altimetro.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 15px;
  left: 15px;
  border-radius: 40px;
  transition: 1.1s ease-out;
  font-family: "digital";
  cursor: pointer;
}

#altimetro * {
  cursor: pointer;
}

#altimetro.out {
  left: calc(15px - var(--altimetroW) / 1.6);
}

#altimetroContent {
  position: relative;
  background-color: var(--altimContentColor);
  width: 136px;
  height: 190px;
  margin-top: 32px;
  margin-left: 29px;
  border-radius: 51px;
  font-size: 1.3em;
  font-weight: bold;
  color: #111411;
}

#altTemperatura {
  position: absolute;
  top: 0px;
  left: 25px;
  width: 85px;
  text-align: center;
}

#altSpeed {
  position: absolute;
  top: 30px;
  font-size: 0.8em;
  left: 37px;
  width: 80px;
  text-align: right;
  border: 1px solid var(--altimAltContentColor);
  padding: 3px;
}

#altSpeedAlt {
  position: absolute;
  top: 85px;
  left: 36px;
}

#altPresion {
  position: absolute;
  top: 127px;
  font-size: 0.8em;
  left: 37px;
  width: 80px;
  text-align: right;
  border: 1px solid var(--altimAltContentColor);
  padding: 3px;
}

#altTime {
  position: absolute;
  font-size: 0.65em;
  top: 176px;
  left: 9px;
  width: 120px;
  text-align: center;
}

#altAltura {
  position: absolute;
  font-size: 0.68em;
  top: 106px;
  left: 37px;
  width: 87px;
  text-align: right;
  text-align: right;
}

#altDiffContainer {
  position: relative;
  width: 11px;
  height: 138px;
  background-color: var(--altimAltContentColor);
  left: 9px;
  top: 27px;
  border-radius: 5px;
}

#altDiffUp {
  position: absolute;
  background-color: rgb(58, 87, 16);
  height: 0px;
  width: 100%;
  bottom: 69px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#altDiffDown {
  position: absolute;
  background-color: rgb(121, 2, 2);
  height: 0px;
  width: 100%;
  top: 69px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#altRegla {
  position: absolute;
  width: 7px;
  height: 69px;
  left: 22px;
  top: 94px;
}

#altReglaInv {
  position: absolute;
  width: 7px;
  height: 69px;
  left: 22px;
  top: 28px;
}
